/** @format */

body {
  margin: 0;
  font-family: $mainFont;
}

.container {
  max-width: 1170px;
  min-width: 320px;
  margin: 0 auto;
  padding-left: 10px;
  padding-right: 10px;
}

.header__navigation {
  padding-top: 45px;
  padding-bottom: 50px;
  position: relative;
  @media (max-width: 991px) {
    padding-top: 41px;
    padding-bottom: 43px;
  }
  @media (max-width: 480px) {
    padding-top: 43px;
  }
}

.navigation__menu {
  @include flex(row, space-around);
  @include list();
  padding-left: 0;

  @media (max-width: 991px) {
    display: none;
    position: absolute;
    z-index: 1;
    top: 58px;
    right: 0;
    flex-direction: column;
    justify-content: flex-start;
    align-items: start;
    gap: 0px;
    width: 180px;
    background-color: #f5f5f5;
  }
}

.navigation__link {
  display: block;
  color: $main-color;
  text-transform: uppercase;
  line-height: 22px;
  letter-spacing: 1.1px;
  font-size: $smallFontSize;
  @media (max-width: 991px) {
    padding: 5px 35px;
  }
}
.navigation__item {
  @media (max-width: 991px) {
    display: block;
    width: 100%;
    &:hover {
      background-color: #e5e5e5;
    }
  }
}

.navigation__link--active {
  color: $accent-color;
}
.navigation__button {
  background-color: #000;
  border: none;
  position: absolute;
  right: 0;
  top: 30px;
}
.navigation__button--burger {
  display: none;
  @media (max-width: 991px) {
    display: block;
    cursor: pointer;
  }
}
.navigation__button--close {
  display: none;
  cursor: pointer;
}

.main {
  padding-top: 66px;
  padding-bottom: 69px;

  @media (max-width: 991px) {
    padding-top: 56px;
    padding-bottom: 60px;
  }
  @media (max-width: 480px) {
    padding-top: 38px;
    padding-bottom: 39px;
  }
}
.title {
  @extend %title;
  font-size: $fontSize;
  line-height: 22px;
  text-transform: uppercase;
  color: $main-color;
  &::before {
    content: "-";
  }
  @media (max-width: 480px) {
    font-size: 14px;
  }
}
.main__tittle {
  padding-bottom: 24px;
  text-align: left;
}
.main__posts {
  @include list();
  @include grid(2);
  row-gap: 32px;
  column-gap: 25px;
  @media (max-width: 991px) {
    @include grid(1);
  }
  @media (max-width: 480px) {
    row-gap: 28px;
  }
}
.posts__item {
  @include flex(row, center);
  gap: 21px;
  align-items: flex-start;
  @media (max-width: 480px) {
    flex-direction: column;
    gap: 11px;
  }
}
.post__title {
  @extend %title;
  font-weight: 700;
  font-size: $fontSize;
  line-height: 20px;
  color: $main-color;
}
.post__autor {
  @extend %title;
  font-size: 12px;
  line-height: 20px;
  color: $main-color;
  @media (max-width: 480px) {
    font-size: 11px;
  }
}
.post__autor--slesh {
  &::before {
    content: "/";
    margin-left: 3px;
    margin-right: 3px;
  }
}

.posts__details {
  @extend %title;
  font-size: 14px;
  line-height: 26px;
  color: $main-color;
  padding-top: 13px;
  @media (max-width: 480px) {
    display: none;
  }
}
.gallery {
  background-color: #f1eaea;
  padding-top: 47px;
  padding-bottom: 49px;

  @media (max-width: 480px) {
    padding-top: 42px;
    padding-bottom: 38px;
  }
}
.container__gallery {
  @include flex(row, space-between);
  align-items: center;
  margin-bottom: 24px;
  @media (max-width: 991px) {
    margin-bottom: 35px;
  }
  @media (max-width: 480px) {
    margin-bottom: 13px;
  }
}
.gallery__link {
  font-weight: 700;
  font-size: 13px;
  line-height: 22px;
  text-transform: uppercase;
  color: $main-color;
  &::after {
    content: "-";
  }
  @media (max-width: 480px) {
    display: none;
  }
}
.gallery__images {
  @include list();
  @include grid(4);
  gap: 10px;
  @media (max-width: 991px) {
    @include grid(3);
    gap: 5px;
  }
  @media (max-width: 480px) {
    @include grid(1);
    gap: 5px;
  }
}
.gallery__item {
  @media (max-width: 991px) {
    display: flex;
    &:last-child {
      display: none;
    }
  }
  @media (max-width: 480px) {
    display: none;
    &:first-child {
      display: flex;
      margin-right: auto;
      margin-left: auto;
    }
  }
}
.gallery__img {
  @media (max-width: 991px) {
    width: 250px;
    height: 250px;
    object-fit: contain;
  }
  @media (max-width: 480px) {
    object-fit: contain;
    width: 301px;
    height: 301px;
  }
}
.footer {
  background-color: #000;
  text-align: center;
}
.container__footer {
  padding-top: 66px;
  padding-bottom: 70px;
  text-align: center;
  max-width: 685px;
  @media (max-width: 991px) {
    padding-top: 57px;
    padding-bottom: 56px;
  }
  @media (max-width: 480px) {
    padding-top: 38px;
    padding-bottom: 47px;
    max-width: 285px;
  }
}
.footer__title {
  color: #fefefe;
  margin-bottom: 22px;
  &::after {
    content: "-";
  }
}
.footer__text {
  @extend %title;
  font-size: $fontSize;
  line-height: 28px;
  color: $footerColor;
  text-align: center;
  @media (max-width: 480px) {
    font-size: 12px;
    line-height: 20px;
  }
}
.footer__social-links {
  margin-top: 37px;
  margin-bottom: 34px;
  @include flex(row, center);
  gap: 5px;
}

.footer__contacts {
  @include flex(row, center);
  @media (max-width: 605px) {
    @include flex(column, center);
  }
}

.footer-contacts__item {
  font-size: $fontSize;
  line-height: 26px;
  color: $footerColor;
  @media (max-width: 480px) {
    font-size: 14px;
    line-height: 24px;
  }
}
.footer-contacts__item--phone {
  &::before {
    content: "/";
    margin-left: 8px;
    margin-right: 8px;
  }
  &::after {
    content: "/";
    margin-left: 8px;
    margin-right: 8px;
  }
}
