/** @format */
@mixin flex($flex-direction, $align) {
  display: flex;
  flex-direction: $flex-direction;
  justify-content: $align;
}

@mixin list() {
  list-style: none;
  padding-left: 0;
  margin-top: 0;
  margin-bottom: 0;
}
@mixin grid($columns) {
  display: grid;
  grid-template-columns: repeat($columns, 1fr);
}
